<div class="device-gauge-wrapper">
  <div class="position-gauge">
    <div class="gauge-track">
      <div class="gauge-fill"></div>
      <div class="gauge-marker"></div>
    </div>
    <div class="gauge-labels">
      <span>Out</span>
      <span>In</span>
    </div>
  </div>
  <div class="device-readout">
    <div><span>Steps:</span> <b class="readout-steps">0</b></div>
    <div><span>Running:</span> <b class="readout-running">--</b></div>
    <div><span>Homed:</span> <b class="readout-homed">--</b></div>
    <div><span>Position:</span> <b class="device-pct">--%</b></div>
  </div>
</div>